<div class="col-md-6 offset-md-3">
  <h3>Update Champion</h3>
  <form [formGroup]="contactForm" action="" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="Your name..."
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="Your last name..."
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input
        type="text"
        class="form-control"
        id="phoneNumber"
        placeholder="Your phone number..."
        formControlName="phoneNumber"
      />
    </div>
    <div class="form-group">
      <label>Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        placeholder="Your address..."
        formControlName="address"
      />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="Your email..."
        formControlName="email"
      />
    </div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <button class="btn btn-success" type="submit">Update</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-danger" type="button" (click)="onReturn()">
            Return
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
